<style type="text/css">

  #<%= domID %>btncontainer {
    display: inline-block;
    <%= options.buttonStyle %>
  }

  #<%= domID %>btncontainer:hover {
    <%= options.buttonOverStyle %>
  }

</style>

<div id="<%= domID %>btncontainer">
  <%= options.buttonText %>
  <img id="<%= domID %>-button"src="<%= options.buttonImage %>" />
</div>
<script type="text/javascript">
  $('#<%= domID %>-button').mouseenter(function(e){
    $(e.currentTarget).attr('src', '<%= options.rolloverImage %>');
  })
  $('#<%= domID %>-button').mouseleave(function(e){
    $(e.currentTarget).attr('src', '<%= options.buttonImage %>');
  })
</script>
