<link href="/public/assets/css/bannergenerator.css" rel="stylesheet" type="text/css">
<div>
  <script type="text/javascript">
    var liqBanner = {
      bannerID: '{{ id }}',
      tag: {
        id: {{id_counter}},
        tagName: 'tagname',
      },
      cacheBuster: '',
      expandDirection: 7,
      clickTags: [],
      mediaMacro: 'PREVIEW'
    };
  </script>
  <script type="text/javascript" src="/public/js/wombat.js" ></script>
</div>
<br /><br />
<div><a href="/editor/{{ id }}" class="green-btn">EDIT</a></div>
<br /><br />
<div id="tracking-log-container">
  <h3>Tracking Event Log</h3>
  <div id="eventlog">
  </div>
</div>
<script type="text/javascript">
  document.addEventListener('track', function(e){
    $('#eventlog').prepend('<div class="trackinglog"><span class="logtime">[' + new Date().toLocaleTimeString() + '] </span><span class="servicename">' + e.detail.service + '</span> &gt;&gt; ' + e.detail.track_url + '</div>');
  })
</script>
