<div>
  <h2>Generated Banners</h2>
  <div>
    {{#each banners}}
      {{> bannerblock this}}
    {{/each}}
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.bannerlist-item').click(function(e){
      window.location.replace($(e.currentTarget).attr('link'))
    });
  });
</script>
