<script type="text/javascript">
  var <%= B.domID %>NAPI = {
    options: <%= JSON.stringify(options) %>,
    trackingMap: <%= JSON.stringify(trackingMap) %>,
    currentStore: null,
    napiListingsData: null,
    init: function() {
      this.getZip();
    },
    getZip() {
      var self = this;
      $.getJSON(this.url('postalcodes', ['radius'], this.options.zipLimit), function(d) {
        console.log('Got zips', d);
        self.options.postalcode = d.results[0].postalCode;
        self.getStore();
      });
    },
    getStore() {
      var self = this;
      $.getJSON(this.url('stores', ['radius', 'postalcode'], this.options.storeLimit), function(d) {
        self.stores = d.results;
        self.currentStore = self.stores[0];
        console.log('Got stores', d);
      });
    },
    getNapiListingsData() {
      return this.napiListingsData;
    },
    getOptions(arr){
      var returnObj = {};
      for(var k of arr) {
        returnObj[k] = this.options[k];
      }
      return returnObj;
    },

    baseProps: function(){
      return [
        {
          prop: 'campaignID',
          val: <%= B.domID %>Banner.options.campaignID.toString()
        },
        {
          prop: 'tagName',
          val: <%= B.domID %>Banner.tag.tagName
        },
        {
          prop: 'sessionID',
          val: <%= B.domID %>Banner.sessionID
        },
        {
          prop: 'userLocation',
          val: this.options.postalcode
        }
      ]
    },
    changeStore(newStoreID){
      var self = this;
      <%= B.domID %>NAPI.options.storeid = newStoreID;
      $.getJSON(this.url('listings', ['departmentid', 'storeid'], this.options.listingLimit), function(napiData) {
        self.napiListingsData = napiData;
        console.log('got napi listing data', napiData);
        for(var i = 0; i < self.stores.length; i++) {
          if(self.stores[i].id == newStoreID){
            self.currentStore = self.stores[i];
            break;
          }
        }
        <%= B.domID %>Banner.reloadState();
      });
    },
    track(e){
      if(this.trackingMap[e.eventName]){
        var delimiter = '|~|';
        var url = this.options.trackingBaseURL;
        var props = this.baseProps();
        for(var t of props) {
          url += delimiter + t.val;
        }
        url += delimiter + this.trackingMap[e.eventName]['id'];
        url += delimiter;
        url += e[this.trackingMap[e.eventName].val] || '';
        url += delimiter;

        switch(e.eventName){
          case 'listingClick':
          for(var i = 0; i < e.stores.length; i++) {
            url += e.stores[i].storeID + ':' + e.stores[i].listing
            if(i < e.stores.length - 1){
              url += ';';
            }
          }
          break;
          case 'listingShown':
          for(var i = 0; i < e.stores.length; i++) {
            url += e.stores[i].storeID + ':' + e.stores[i].listing
            if(i < e.stores.length - 1){
              url += ';';
            }
          }
          break;
        }
        url += delimiter + Math.round(Math.random() * 9999999);
        //console.log('NAPI TRACKING EVENT: ' + url);
        var te = new CustomEvent('track', {
          detail: {
            service: 'NAPI',
            track_url: url
          }
        });
        document.dispatchEvent(te);
        $('#<%= B.domID %>NAPIPIXEL').attr('src', url);
      }
    },
    url: function(endpoint, options, limit) {
      var rurl = this.options.baseURL.toString() + <%= B.domID %>Banner.options.campaignID.toString() + '/' + endpoint + '.json?limit=' + limit + '&' + $.param(this.getOptions(options));
      console.log('NAPI CALL: ' + rurl);
      return rurl;
    },
    destroy: function(){
      delete this;
    }
  };
</script>

<img id="<%= B.domID %>NAPIPIXEL" style="display:none" src="" />
