.bannerlist-item {
  cursor: pointer;
  user-select: none;
  position:relative;
  display: inline-block;
  margin: 0 10px 15px 0;
  width: 200px;
  height: 140px;
  padding: 10px;
  border: solid 1px #055;
  vertical-align: top;
}
.bannerlist-item .image-previews {
  position:relative;
  margin: 5px 0 0 0;

}
.bannerlist-item img {

  width: 20px;
  height: 20px;

}
.bannerlist-name {
  font-family: 'Gotham_BookRegular';
  display:block;
  color: #A2EF07;
  margin: 12px 0 4px 0;
  font-size: 16px;
  pointer-events: none;
}
.bannerblock-content {
  overflow-y: auto;
  min-height: 130px;
  max-height: 130px;
  padding: 0 3px 0 0;
}
.bannerlist-topinfo {

  position: absolute;
  top: 3px;
  left: 0px;
  color: #0FF;
  font-size: 11px;
}

.bannerlist-topinfo span {
  padding: 2px;
  background-color: #0EE;
  color: #000;



}
.bannerlist-dimensions {

}
.bannerlist-expandable {

}
.bannerlist-item:hover {
  border: solid 1px #0FF;
  background-color: #002333;
}
.bannerlist-description {
  margin: 2px 0 0 0;
  color: #0FF;
  font-size: 12px;
}
.bannerlist-timestamp {
  position: absolute;
  bottom: 2px;
  font-size: 10px;
  color: #FFF;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  2%   { opacity:.2; }
  10%   { opacity:.9; }
  14%   { opacity:0; }
  15%   { opacity:.5; }
  17%   { opacity:1; }
  25%   { opacity:.2; }
  35%   { opacity:.4; }
  50%  { opacity:0; }
  70%  { opacity:.7; }
  75%  { opacity:.2; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  2%   { opacity:.2; }
  10%   { opacity:.9; }
  14%   { opacity:0; }
  15%   { opacity:.5; }
  17%   { opacity:1; }
  25%   { opacity:.2; }
  35%   { opacity:.4; }
  38%   { opacity:1; }
  39%   { opacity:0; }
  45%   { opacity:.2; }
  50%  { opacity:0; }
  55%  { opacity:1; }
  63%  { opacity:.2; }
  66%  { opacity:0; }
  67%  { opacity:.9; }
  70%  { opacity:.7; }
  71%  { opacity:0; }
  76%  { opacity:.5; }
  81%  { opacity:0; }
  83%  { opacity:1; }
  85%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  2%   { opacity:.2; }
  10%   { opacity:.9; }
  14%   { opacity:0; }
  15%   { opacity:.5; }
  17%   { opacity:1; }
  25%   { opacity:.2; }
  35%   { opacity:.4; }
  38%   { opacity:1; }
  39%   { opacity:0; }
  45%   { opacity:.2; }
  50%  { opacity:0; }
  55%  { opacity:1; }
  63%  { opacity:.2; }
  66%  { opacity:0; }
  67%  { opacity:.9; }
  70%  { opacity:.7; }
  71%  { opacity:0; }
  76%  { opacity:.5; }
  81%  { opacity:0; }
  83%  { opacity:1; }
  85%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  2%   { opacity:.2; }
  10%   { opacity:.9; }
  14%   { opacity:0; }
  15%   { opacity:.5; }
  17%   { opacity:1; }
  25%   { opacity:.2; }
  35%   { opacity:.4; }
  38%   { opacity:1; }
  39%   { opacity:0; }
  45%   { opacity:.2; }
  50%  { opacity:0; }
  55%  { opacity:1; }
  63%  { opacity:.2; }
  66%  { opacity:0; }
  67%  { opacity:.9; }
  70%  { opacity:.7; }
  71%  { opacity:0; }
  76%  { opacity:.5; }
  81%  { opacity:0; }
  83%  { opacity:1; }
  85%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation .5s 1;
   -moz-animation: flickerAnimation .5s 1;
   -o-animation: flickerAnimation .5s 1;
    animation: flickerAnimation .5s 1;
}
