<link href="/public/assets/css/header.css" rel="stylesheet" type="text/css">

<div id="headerlogo">
  <div id="bannerlink-logotext">Bannerlink <sup>6</sup></div>
  <div id="linklogo">
    <i class="fas fa-link"></i>
    <i style="left:15px; opacity: .66;" class="fas fa-link"></i>
    <i style="left:30px; opacity: .33;" class="fas fa-link"></i>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('#headerlogo').click(function(){
      window.location.replace('/login');
    });
  });
</script>
