<link href="/public/assets/css/nav.css" rel="stylesheet" type="text/css">
<div id="nav">
  <ul>
    <li><a href="/banner">Build from Schema</a></li>
    <li><a href="/presets"><i class="far fa-heart"></i> Presets</a></li>
    <li><a href="/banners">Generated Banners</a></li>
    <li><a href="/documentation">Documentation</a></li>
    <li><a href="/purge">Purge</a></li>
  </ul>
</div>
<div id="separator"></div>
