<style>
  #<%= domID %>arrowcontainer {
    position: relative;
  }
  .<%= domID %>arrow {
    user-select: none;
    cursor: pointer;
    position: absolute;
    transform-origin: center center;
    z-index: 9999;
  }
  #<%= domID %>slidecontainer {
    top: 20px;
    width: <%= options.width %>px;
    height: <%= options.height %>px;
  }
  #<%= domID %>slidecontainer .slide {
    color: #000;
    position: absolute;
    width: <%= options.card.width %>px;
    height: <%= options.card.height %>px;
    <% if(options.card.backgroundColor) { %>
      background-color: <%= options.card.backgroundColor %>;
    <% } %>
    <% if(options.card.border) { %>
      border: <%= options.card.border %>;
    <% } %>
    scale: (0);
    user-select:none;
  }

  #<%= domID %>slidecontainer .imgcontainer {
    position: absolute;
    left: <%= options.image.x %>px;
    top: <%= options.image.y %>px;
    width: <%= options.image.width %>px;
    height: <%= options.image.height %>px;
  }

  #<%= domID %>slidecontainer .text-container {
    position: relative;
    left: <%= options.textContainer.x %>px;
    top: <%= options.textContainer.y %>px;
    width: <%= options.textContainer.width %>px;
    height: <%= options.textContainer.height %>px;
  }

  #<%= domID %>slidecontainer .title {
    left: <%= options.titleText.x %>px;
    padding-top: <%= options.titleText.y %>px;
    text-align: <%= options.titleText.alignment %>;
    font: <%= options.titleText.font %>;
    color: <%= options.titleText.color %>;
    width: <%= options.titleText.width %>px;
    height: <%= options.titleText.height %>px;
    vertical-align: middle;
  }

  #<%= domID %>slidecontainer .deal {
    left: <%= options.dealText.x %>px;
    padding-top: <%= options.dealText.y %>px;
    text-align: <%= options.dealText.alignment %>;
    font: <%= options.dealText.font %>;
    color: <%= options.dealText.color %>;
    width: <%= options.dealText.width %>px;
    height: <%= options.dealText.height %>px;
  }

  #<%= domID %>slidecontainer .title-free {
    position: absolute;
    left: <%= options.titleText.x %>px;
    top: <%= options.titleText.y %>px;
    text-align: <%= options.titleText.alignment %>;
    font: <%= options.titleText.font %>;
    color: <%= options.titleText.color %>;
    width: <%= options.titleText.width %>px;
    height: <%= options.titleText.height %>px;
  }

  #<%= domID %>slidecontainer .deal-free {
    position: absolute;
    left: <%= options.dealText.x %>px;
    top: <%= options.dealText.y %>px;
    text-align: <%= options.dealText.alignment %>;
    font: <%= options.dealText.font %>;
    color: <%= options.dealText.color %>;
    width: <%= options.dealText.width %>px;
    height: <%= options.dealText.height %>px;
  }

  #<%= domID %>arrowleft {
    left: <%= parseInt((options.width / 2) - options.arrows.xOffset - (options.arrows.width / 2)) %>px;
    top: <%= options.arrows.yOffset %>px;
    transform: rotate(180deg);
  }

  #<%= domID %>arrowright {
    left: <%= parseInt((options.width / 2) + options.arrows.xOffset - (options.arrows.width / 2)) %>px;
    top: <%= options.arrows.yOffset %>px;
  }
</style>

<div id="<%= domID %>arrowcontainer">
  <div class="<%= domID %>arrow" id="<%= domID %>arrowleft">
    <img width="<%= options.image.width %>" height="<%= options.image.height %>" src="<%= options.arrows.imgUrl %>" />
  </div>
  <div class="<%= domID %>arrow" id="<%= domID %>arrowright">
    <img width="<%= options.image.width %>" height="<%= options.image.height %>" src="<%= options.arrows.imgUrl %>" />
  </div>
</div>
<div id="<%= domID %>slidecontainer">

</div>

<script type="text/javascript">
<%= domID %>CI.init = function() {
  var self = this;
  self.isFirst = true;
  self.isOver = false;
  self.timesLooped = 0;

  this.loadScripts([
    "https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/easing/EasePack.min.js",
    "https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js",
    "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"
  ]).done(function(){
    var napiData = JSON.parse(JSON.stringify(<%= B.domID %>NAPI.getNapiListingsData()));
    var currentSlide = 0;
    var cardTemplate = <%= cardTemplate %>;
    var centerX = <%= parseInt(options.width / 2) %> - <%= parseInt(options.card.width / 2) %>;

    _.each(napiData.results, function(r) {
      var el = cardTemplate({
        domID: '<%= domID %>',
        buyOnlineLinkURL: r.buyOnlineLinkURL,
        imgWidth: <%= options.image.width %>,
        imgHeight: <%= options.image.height %>,
        dealText: r.deal,
        groupTextFields: <%= options.groupTextFields %>,
        imgSrc: r.images[0].imageURL,
        titleText: r.title
      });
      $('#<%= domID %>slidecontainer').append($(el));
      currentSlide++;
    });

    currentSlide = 0;
    animate();
    function nextSlide(){
      var goingNext = false;
      if(!<%= B.domID %>Banner.paused) {
        if(<%= options.interactionMode == 'mouseOver' %> && self.isOver || <%= options.interactionMode  == 'none' %>) {
          currentSlide++;
          if(currentSlide >= napiData.results.length){
            currentSlide = 0;
            if(self.timesLooped == <%= options.loop %>){
              <%= B.domID %>Banner.nextState();
              goingNext = true;
            }
            else {
              self.timesLooped++;
            }
          }
          if(!goingNext){
            animate();
          }
        }
      }
    }
    function prevSlide(){
      if(!<%= B.domID %>Banner.paused) {
        if(<%= options.interactionMode == 'mouseOver' %> && self.isOver || <%= options.interactionMode  == 'none' %>) {
          currentSlide--;
          if(currentSlide < 0) {
            currentSlide = napiData.results.length - 1;
          }
          animate();
        }
      }
    }

    function getActiveSlides(cS) {
      var leftSlide = cS - 1;
      if(leftSlide < 0){
        leftSlide = $('#<%= domID %>slidecontainer .slide').length - 1;
      }

      var rightSlide = cS + 1;
      if(rightSlide > $('#<%= domID %>slidecontainer .slide').length - 1) {
        rightSlide = 0;
      }
      return {
        left: $('#<%= domID %>slidecontainer .slide')[leftSlide],
        center: $('#<%= domID %>slidecontainer .slide')[cS],
        right: $('#<%= domID %>slidecontainer .slide')[rightSlide]
      }
    }
    $('#<%= domID %>').on('mouseover', function(){
      self.isOver = true;
    });
    $('#<%= domID %>').on('mouseout', function(){
      self.isOver = false;
    });
    function animate(){
      <%= B.domID %>Banner.bannerEvent({
        eventName: 'listingShown',
        stores: [
          {
            storeID: napiData.results[currentSlide].store.id,
            listing: napiData.results[currentSlide].id
          }
        ]
      });

      var active = getActiveSlides(currentSlide);
      var animTime = <%= options.animation.animationTime %>;
      if(self.isFirst){
        self.isFirst = false;
        animTime = .0001
      }

      TweenMax.to($('#<%= domID %>slidecontainer .slide'), animTime, {
        x: centerX + <%= options.mainCard.xOffset %>,
        y: 0,
        scale: 0,
        opacity: 0,
        zIndex: 1,
        ease: <%= options.animation.ease %>
      });

      TweenMax.to($(active.left), animTime, {
        x: centerX - <%= options.sideCard.xOffset %>,
        y: <%= options.sideCard.yOffset %>,
        scale: <%= options.sideCard.scale %>,
        opacity: <%= options.sideCard.opacity %>,
        zIndex: 2,
        ease: <%= options.animation.ease %>
      });
      TweenMax.to($(active.right), animTime, {
        x: centerX + <%= options.sideCard.xOffset %>,
        y: <%= options.sideCard.yOffset %>,
        scale: <%= options.sideCard.scale %>,
        opacity: <%= options.sideCard.opacity %>,
        zIndex: 2,
        ease: <%= options.animation.ease %>
      });
      TweenMax.to($(active.center), animTime, {
        x: centerX + <%= options.mainCard.xOffset %>,
        y: <%= options.mainCard.yOffset %>,
        scale: <%= options.mainCard.scale %>,
        opacity: <%= options.mainCard.opacity %>,
        zIndex: 30,
        ease: <%= options.animation.ease %>
      });
    }
    <% if(options.autoSlide) { %>
      <%= domID %>CI.autoSlider = setInterval(nextSlide, 2000);
    <% } %>
    $('#<%= domID %>arrowleft').click(function(){clearInterval(self.autoSlider); prevSlide();});
    $('#<%= domID %>arrowright').click(function(){clearInterval(self.autoSlider); nextSlide();});
    $('#<%= domID %>').on('mouseover', function(){
      self.isOver = true;
    });
    $('#<%= domID %>').on('mouseout', function(){
      self.isOver = false;
    });
    <%= domID %>CI.listingClick = function(url) {
      <%= B.domID %>Banner.bannerEvent({
        eventName: 'listingClick',
        url: url,
        stores: [
          {
            storeID: napiData.results[currentSlide].store.id,
            listing: napiData.results[currentSlide].id
          }
        ]
      });
      window.open(url, '_blank');
    }
  });
}

<%= domID %>CI.destroy = function() {

  clearInterval(<%= domID %>CI.autoSlider);
  TweenMax.killAll();
  delete <%= domID %>CI;
}
</script>
