<!DOCTYPE HTML>
<html lang="en-us">
	<head>
		<title>Bannerlink 6</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
		<link href="/public/assets/css/reset.css" rel="stylesheet" type="text/css">
		<link href="/public/assets/css/main.css" rel="stylesheet" type="text/css">
		<link href="/public/assets/css/formelements.css" rel="stylesheet" type="text/css">
		<link href="/public/assets/css/bannerblock.css" rel="stylesheet" type="text/css">
		<link href="/public/assets/css/filters.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
		<link href="https://galactus.liquidus.net/nova/orc/css/All_Liq_Fonts.css" rel="stylesheet" type="text/css">
	</head>
	<body>
    {{> header}}
    {{> nav}}
    {{{body}}}
    {{> footer}}
	</body>
</html>
