<!-- ROOT DOM LEVEL OF BANNER -->

<style type="text/css">
  #<%= B.domID %> {
    position: absolute;
    margin:none;
    padding:none;
    font-family: Verdana;
    font-size: 12px;
    width: <%= B.get('initWidth') || B.get('width') %>;
    height: <%= B.get('initHeight') || B.get('height') %>;
    background-color: <%= B.get('backgroundColor') %>;
    visibility: hidden;
    overflow:hidden;
  }
  #<%= B.domID %>-fallback{
    display:none;
    cursor: pointer;
  }
  #<%= B.domID %>-fallback img{
    width: <%= B.get('initWidth') || B.get('width') %>;
    height: <%= B.get('initHeight') || B.get('height') %>;
  }
  .state {
    position: absolute;
  }

</style>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbSqZr4S58fv5kzyYK3QE_3miKlyt2Gl8"
async defer></script>

<script type="text/javascript">
// Simple state changing and placeholder for tracking, will need tightening.

var <%= B.domID %>Banner = {
  expandDirection: 7,
  currentState: 0,
  prevStateVal: -1,
  bonusLoaded: false,
  paused: false,
  clickTags: [],
  stateElements: new Array(), // holds original states to swap in and out
  loadedScripts: new Array(),
  options: <%= JSON.stringify(options) %>,
  init: function(override){ // allow custom config
    console.log('banner init');

    //should be a loop to load all services
    <%= B.domID %>NAPI.init();

    var str = '<%= B.domID %>';
    str = str.substring(0, str.length - 5);
    this.stateElements.push($('div#' + str + '_main-S0').clone()[0]);
    for(var k in override) {
      this[k] = override[k]; // namespace this input object
    }
    this.contractedPosition();
    var self = this;
    setTimeout(function() {
      $('#<%= B.domID %>').css('visibility', 'visible');
      self.transIn();
      self.bannerEvent({ eventName: 'impression' });
    }, 500);

  },
  bannerEvent: function(e) {
    var te = new CustomEvent('track', {
      detail: {
        service: 'Banner Event',
        track_url: e.eventName
      }
    });

    //console.log('Banner Event: ', e);
    for(k of this.options.services) {
      eval('<%= B.domID %>' + k.name + '.track(e)');
    }

    document.dispatchEvent(te)
  },
  expandDirections: {
    0: 'left',
    1: 'right',
    2: 'toCenter',
    3: 'fromCenter',
    7: 'none'
  },
  contractedPosition: function() {
    var elOffset = $('#<%= B.domID %>').parent().offset();
    var bodyWidth = $('body').width();
    this.side = '';
    if(elOffset.left <= bodyWidth / 2){
      this.side = 'left';
    }
    else {
      this.side = 'right';
    }

    switch(parseInt(this.expandDirection)) {
      case 0:
        $('#<%= B.domID %>').css('left', <%= B.options.width - B.options.initWidth %>);
        break;
      case 1:
        break;
      case 2:
        if(this.side == 'right') {
          $('#<%= B.domID %>').css('left', <%= B.options.width - B.options.initWidth %>);
        }
        break;
      case 3:
        if(this.side == 'left') {
          $('#<%= B.domID %>').css('left', <%= B.options.width - B.options.initWidth %>);
        }
        break;
      default:
        break;

    }
  },
  expand: function(){
    var event = new CustomEvent('expand');
    document.dispatchEvent(event);
    console.log('Expand Direction: ' + this.expandDirection + ', ' + this.expandDirections[this.expandDirection]);
    console.log('On side: ' + this.side);
    $('#<%= B.domID %>').css('width', '<%= options.width %>px');
    $('#<%= B.domID %>').css('height', '<%= options.height %>px');

    switch(parseInt(this.expandDirection)) {
      case 0:
        $('#<%= B.domID %>').css('left', '0');
      break;
      case 1:
      break;
      case 2:
        if(this.side == 'right'){
          $('#<%= B.domID %>').css('left', '0');
        }
      break;
      case 3:
        if(this.side == 'left'){
          $('#<%= B.domID %>').css('left', '0');
        }
      break;
      default:
      break;
    }

  },
  contract: function(){
    var event = new CustomEvent('contract');
    document.dispatchEvent(event);
    $('#<%= B.domID %>').css('width', '<%= options.initWidth %>px');
    $('#<%= B.domID %>').css('height', '<%= options.initHeight %>px');

    this.contractedPosition();

  },
  nextState: function() {
    var self = this;
    if(!self.bonusLoaded){ // async load bonus payload if needed, actually trigger next state when ready
      $.ajax({ type: "GET",
       url: "<%= payloadPath %>banner_<%= B.get('id') %>_bonus.html",
       success : function(text){
         self.bonusLoaded = true;
         var old_id = '<%= B.get('id') %>';
         var sesh = 'liq_' + self.sessionID.replace(/-/g, '');
         var re = new RegExp('liq_' + old_id, 'g');
         text = text.replace(re, sesh)
         var bonusEls = $(text).find('div.state').clone().prevObject.prevObject;
         for(var i = 0; i < bonusEls.length; i+=2){  // careful
           self.stateElements.push(bonusEls[i]);
         }
         self.nextState();
         self.expand();
       }
     });
    }
    else if(<%= B.domID %>NAPI && !<%= B.domID %>NAPI.getNapiListingsData()) {
      $.getJSON(<%= B.domID %>NAPI.url('listings', ['departmentid', 'postalcode'], <%= B.domID %>NAPI.options.listingLimit), function(napiData) {
        if(!napiData.results || napiData.results.length == 0){
          self.fallback();
        }
        else {
          for(var r of napiData.results) {
            //spoof by online link for testing
            //r.buyOnlineLinkURL = "https://google.com";
          }
          <%= B.domID %>NAPI.napiListingsData = napiData;
          console.log('got napi listing data', napiData);
          self.nextState();
        }
      })
    }
    else {
      this.transOut();
      this.paused = false;
      self.prevStateVal = self.currentState;
      self.currentState++;
      if(self.currentState >= self.options.states.length){
        self.currentState = 0;
      }
      self.setStateElement(self.stateElements[self.currentState]);
    }
  },
  prevState: function() {
    this.transOut();
    this.prevStateVal = this.currentState;
    this.currentState--;
    if(this.currentState < 0){
      this.currentState = <%= options.states.length - 1 %>;
    }
    this.setStateElement(this.stateElements[this.currentState]);
  },
  setState: function(s) {
    this.transOut();
    this.currentState = s;
    this.setStateElement(this.stateElements[this.currentState]);
  },
  reloadState: function() {
    $('#<%= B.domID %>-S' + this.currentState).remove();
    this.prevState();
    this.nextState();
  },
  setStateElement(el) {
    var self = this;
    $('#<%= B.domID %>-S' + self.currentState).remove();

    var str = '<%= B.domID %>';
    str = str.substring(0, str.length - 5);
    for(i = 0; i < self.options.states[self.prevStateVal].components.length; i++){
      eval(str + '_S' + self.prevStateVal + '_C' + i + 'CI.destroy()');
    }

    $('#<%= B.domID %>').append($(el).clone());

    for(var i = 0; i < self.options.states[self.currentState].components.length; i++){
      eval(str + '_S' + self.currentState + '_C' + i + 'CI.init()');
    }

    this.transIn();

  },
  destroy: function() {
    var str = '<%= B.domID %>';
    str = str.substring(0, str.length - 5);
    for(var i = 0; i < this.options.states[this.currentState].components.length; i++){
      eval(str + '_S' + this.currentState + '_C' + i + 'CI.destroy()');
    }
    for(i = 0; i < this.options.services.length; i++){
      eval('<%= B.domID %>' + this.options.services[i].name + '.destroy()');
    }
    delete this;
  },
  hasScript: function(url) {
    if(this.loadedScripts.indexOf(url) >= 0) {
      return true;
    }
    this.loadedScripts.push(url);
    return false;
  },
  transIn: function() {
    var self = this;
    if(this.autoSwitchTimeout){
      clearTimeout(this.autoSwitchTimeout)
    }
    this.autoSwitchTimeout = null;
    if(this.options.states[this.currentState].transitions && this.options.states[this.currentState].transitions.in) {
      $('#<%= B.domID %>-S' + this.currentState).css('pointer-events', 'none');
      $('#<%= B.domID %>-S' + this.currentState).animate(this.options.states[this.currentState].transitions.in.init, 1, function(){
        $('#<%= B.domID %>-S' + self.currentState).animate(self.options.states[self.currentState].transitions.in.anim, self.options.states[self.currentState].transitions.in.duration, function() {
          $('#<%= B.domID %>-S' + self.currentState).css('pointer-events', 'auto');
          if(self.prevStateVal != self.currentState) {
            $('#<%= B.domID %>-S' + self.prevStateVal).remove();
          }
          if(self.options.states[self.currentState].transitions.autoSwitch) {
            self.autoSwitchTimeout = setTimeout(function() {
              self.nextState();
            }, self.options.states[self.currentState].transitions.autoSwitch);
          }
        });
      });
    }
  },
  transOut: function() {
    var self = this;
    var oldState = '#<%= B.domID %>-S' + this.currentState;
    if(this.autoSwitchTimeout){
      clearTimeout(this.autoSwitchTimeout)
    }
    this.autoSwitchTimeout = null;

    if(this.options.states[this.currentState].transitions && this.options.states[this.currentState].transitions.out) {
      $('#<%= B.domID %>-S' + this.currentState).css('pointer-events', 'none');
      $('#<%= B.domID %>-S' + this.currentState).animate(this.options.states[this.currentState].transitions.out.anim, this.options.states[this.currentState].transitions.out.duration, function() {
        $(oldState).remove();
      });
    }
    else {
      $(oldState).remove();
    }

  },
  log: function(s, o){
    if(true) {
      if(o){
        console.log(s, o);
      }
      else{
        console.log(s);
      }
    }
  },
  fallback: function(){
    $('.state').remove();
    this.contract();
    $('#<%= B.domID %>-fallback').css('display', 'block');
    $('#<%= B.domID %>-fallback').click(function(e){
      <%= B.domID %>Banner.bannerEvent({
        eventName: 'companyClick',
        url: '<%= B.options.companyURL %>'
      });
      window.open('<%= B.options.companyURL %>', '_blank');
    })



  }
};
</script>

<% _.each(services, (service) => { %>
  <%= service.renderData %>
<% }) %>

<div id="<%= B.domID %>" style="width: <%= B.get('initWidth') || B.get('width') %>px; height: <%= B.get('initHeight') || B.get('height') %>px; position:relative;">
  <div id="<%= B.domID %>-fallback">
    <img src="<%= B.options.fallbackImage %>" width="<%= B.get('initWidth') || B.get('width') %>" height="<%= B.get('initHeight') || B.get('height') %>" />
  </div>
  <% var state = _.find(options.states, (o) => { return o.preview == true }) %>
  <div id="<%= B.domID %>-S<%= state.id %>" class="state">
  <% _.each(state.components, (component) => { %>
    <%= _.find(components, (c) => { return c.get('stateID') == state.id && c.get('id') == component.id }).renderData %>
  <% }) %>
  </div>
</div>
